{% extends 'base.html' %}
{% load static %}

{% block body %}

<section class="text-center homeAbout ">
	<div class="container">
		<h1 class="aboutTitle">ABOUT FIRST</h1>
		<p class="aboutData">
			First Education is qualified in Print books and e-learning technologies including but not limited to
			online educational content.
		</p>
		<div class="row clientsRow text-center">
			<div class="col-xs-6 col-md-3 educationSections american">
				<p >CUSTOMER OBSESSED</p>
				<p class="text">Exceeding our customers'
expectations always is at the
core of everything we do by
offering a superior customer
experience</p>
			</div>
			<div class="col-xs-6 col-md-3 educationSections britsh">
				<p>CONTINUOUS IMPROVEMENT</p>
				<p class="text">We surprise and delight
by never being satisfied
with the status quo
we want to be better
tomorrow than we are today</p>
			</div>
			<div class="col-xs-6 col-md-3 educationSections languageschools">
				<p>TO BE THE BEST</p>
				<p class="text">We strive to be the best
at what we do through
accountability, focus,
initiative and a
winning attitudey</p>
			</div>
			<div class="col-xs-6 col-md-3 educationSections ibschools">
				<p>THE GOLDEN RULE</p>
				<p class="text">We treat people the way
we want to be treated
with honesty, integrity and
fairness when in doubt the
golden rule trumps all</p>
			</div>
		</div>

	</div>
</section>

<section class="container ">
	<div class="row">
		<p class="pageHeadTitleMain col-md-3">OUR MAIN SECTORS</p>
	</div>
	<div class="row clientsRow text-center">
		<div class="col-xs-6 col-md-3 educationSections american">
			<p>AMRICAN curriculum</p>
		</div>
		<div class="col-xs-6 col-md-3 educationSections britsh">
			<p>BRITSH curriculum</p>
		</div>
		<div class="col-xs-6 col-md-3 educationSections languageschools">
			<p>LANGUAGE SCHOOLS</p>
		</div>
		<div class="col-xs-6 col-md-3 educationSections ibschools">
			<p>IB SCHOOLS</p>
		</div>
	</div>
</section>

{% endblock body %}